<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACP designer - Web-based Implementation V1.02</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Urbanist:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='graphics/RoVa_logo.png') }}" alt="RoVa logo">
            <!-- <img src="{{ url_for('static', filename='graphics/igem_brno_logo.png') }}" alt="iGEM BRNO Logo"> -->
        </div>
        <h1 class="intro-title">Welcome to ACP Designer - V1.02</h1>
        <div class="intro-subtitle">
            Toolbox for the design of novel therapeutic peptides. It features:
            <ul>
                <li><strong>Generative page:</strong> Design custom ACPs</li>
                <li><strong>Mutation page:</strong> Generate mutants for specific ACPs</li>
                <li><strong>Toxicity classification:</strong> Evaluate the potential toxicity against healthy cells</li>
            </ul>
        </div>
        <p>for more details refer to <a href="https://github.com/karatedava/ACP-designer">GitHub page</a>
        or contact our research group <a href="https://vacha.ceitec.cz">RoVa group</a>
        </p>

        <hr class="section-divider">

        <div class="card">
            <h2>SELECTION MENU:</h2>
            <div class="simulation-option">
                <h3>Peptide Generation</h3>
                <p>Design novel peptide sequences</p>
                <a href="{{ url_for('generate') }}" class="button">GENERATE !</a>
            </div>

            <hr class="section-divider">
            
            <div class="simulation-option">
                <h3>Peptide Mutation</h3>
                <p>
                    Design mutants of promising sequence
                </p>
                <a href="{{ url_for('mutate') }}" class="button">MUTATE !</a>
            </div>
    </div>


</body>
</html>