<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACP designer - Mutator page</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Urbanist:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">
</head>
<body>
    <div class="container">

        <h1 class="intro-title">Peptide Mutator</h1>
        <p class="intro-subtitle">Page dedicated to mutant sampling.
            Paste a protein you want to mutate below and select specific database
            of generated peptides (from which mutants will be selected). Hit MUTATE and 
            observe desingned mutatns with provided classification labels.
        </p>
        <a href="{{ url_for('intro') }}" class="back-link">Back to Intro</a>

        <hr class="section-divider">
        <form method="POST" action="{{ url_for('mutate') }}" enctype="multipart/form-data">

        <div class="card">

            <div class="form-group">
                <label for="sequence">Target Amino Acid Sequence</label>
                <p class="text-muted">Paste the protein/peptide sequence you want to mutate (e.g., INWKGIAAMAKKLL)</p>
                
                <!-- Textarea for AA sequence input -->
                <textarea
                    class="form-control"
                    name="sequence"
                    id="sequence"
                    rows="1"
                    required
                    style="font-family: Consolas, Monaco, monospace; font-size: 1.1em;"></textarea>
                
                <!-- Optional: small validation hint -->
                <small class="form-text text-muted">
                    Only standard amino acid letters (ACDEFGHIKLMNPQRSTVWY) are allowed.
                </small>
            </div>

            <div class="form-group">
                <label for="database">database selection</label>
                <select name="database" id="database" required>
                    <option value="rnn_acp_mp">rnn_mp_db</option>
                    <option value="progen-acp-mp">progen_mp_db</option>
                    <!-- <option value="progen2-acp">progen_acp_db</option> -->
                </select>
            </div>

            <p class="text-muted">
                Or <strong>upload own database</strong> a CSV file containing protein sequences 
                <small>(one sequence per row)</small>
            </p>

            <!-- File input -->
            <div class="custom-file">
                <input 
                    type="file"
                    class="custom-file-input" 
                    id="DBfile" 
                    name="DB_file"
                    accept=".csv"
                >
                <label class="custom-file-label" for="DB_file">
                    Choose CSV file...
                </label>
            </div>

        </div>
        <hr class="section-divider">
        <button type="submit">MUTATE</button>
        </form>
    </div>

</body>
</html>