name: Build and Push to CERIT.io

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Free disk space
        run: |
          echo "Initial disk usage:"
          df -h

          # Remove huge preinstalled stuff
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc

          # Docker cleanup
          docker system prune -af
          docker builder prune -af

          echo "After cleanup:"
          df -h

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to CERIT.io
        uses: docker/login-action@v3
        with:
          registry: cerit.io
          username: ${{ secrets.CERIT_USERNAME }}
          password: ${{ secrets.CERIT_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            cerit.io/diaz_asian/acp_designer:latest
            cerit.io/diaz_asian/acp_designer:${{ github.sha }}